{% if dynasty is defined %}
{% set sidebar_label = dynasty %}
{% elif poem is defined %}
{% set sidebar_label = poem.meta.dynasty %}
{% else %}
{% set sidebar_label = '诗歌之河' %}
{% endif %}
<aside class="river-sidebar" aria-label="诗歌之河侧景">
    <a class="sidebar-landscape-link" href="{{ base_url }}/" aria-label="回到诗歌之河首页">
        <img class="sidebar-landscape" src="{{ asset_root }}/landscape-vertical.png" alt="">
    </a>
    <div class="sidebar-caption" aria-hidden="true">
        <span>诗歌之河</span>
        <span>{{ sidebar_label }}</span>
    </div>
</aside>
